// Colores bootstrap y variables

$primary: #1f4e79;
$secondary: #6548f7;

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

section {
  margin-bottom: 5%;
}
